<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort
         infiniteScroll
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50"
         (scrolled)="onScroll()">

    <!-- Name Column -->
    <ng-container matColumnDef="cryptoName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Crypto name </th>
      <td mat-cell *matCellDef="let row"> {{row.cryptoName}} </td>
    </ng-container>

    <!-- USD Column -->
    <ng-container matColumnDef="usd">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> USD </th>
      <td mat-cell *matCellDef="let row"> {{row.USD}} </td>
    </ng-container>

    <!-- EUR Column -->
    <ng-container matColumnDef="eur">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> EUR </th>
      <td mat-cell *matCellDef="let row"> {{row.EUR}} </td>
    </ng-container>

    <!-- HRK Column -->
    <ng-container matColumnDef="hrk">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> HRK </th>
      <td mat-cell *matCellDef="let row"> {{row.HRK}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <button class="mt-48 mb-12" mat-raised-button (click)="exportAsXLSX()">Download .xsls</button>
</div>
