table {
  width: 100%;

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  td, th {
    width: 25%;
  }

  th{
    .mat-sort-header-sorted {
      color: black;
    }
  }
}

.mt-48{
  margin-top: 48px;
}

.mb-12{
  margin-bottom: 12px;
}
